<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title><%= siteInfo.sitename %></title>
    <meta name="keywords" content="<%= siteInfo.keywords %>" />
    <meta name="description" content="<%= siteInfo.describe %>" />
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="75jpdHDHmP" />
    <link rel="shortcut icon" type="image/x-ico" href="https://dn-doting.qbox.me/favicon.ico" />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script>
    if(<%= siteInfo.checkMobi %>){
        function isMobile(){var sUserAgent=navigator.userAgent.toLowerCase();var bIsIphoneOs=sUserAgent.match(/iphone os/i)=="iphone os";var bIsMidp=sUserAgent.match(/midp/i)=="midp";var bIsUc7=sUserAgent.match(/rv:1.2.3.4/i)=="rv:1.2.3.4";var bIsUc=sUserAgent.match(/ucweb/i)=="ucweb";var bIsAndroid=sUserAgent.match(/android/i)=="android";var bIsCE=sUserAgent.match(/windows ce/i)=="windows ce";var bIsWM=sUserAgent.match(/windows mobile/i)=="windows mobile";if(bIsIphoneOs||bIsMidp||bIsUc7||bIsUc||bIsAndroid||bIsCE||bIsWM){return true}else{return false}};
        if(isMobile()){
            var noteid = location.href.split('doting.me/')[1] || '';
            location.href = '//<%= siteInfo.mobilesite %>/m/'+noteid;
        }
    }
    </script>
    <!--[if lte IE 9]>
    <link rel='stylesheet' href='/css/ie.css' />
    <script src="/js/ie.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <meta http-equiv="refresh" content="0; url=//hinpc.com/x/killie.html" />
    <![endif]-->
  </head>
<body>
    <!-- header -->
    <div id="header">
        <div class="left">
            <div class="more">
                <span class="more-line line1"></span>
                <span class="more-line line2"></span>
                <span class="more-line line3"></span>
            </div>
            <h1 class="logo">
                <a href="//<%= siteInfo.sitedomain %>" title="<%= siteInfo.describe %>"><%= siteInfo.title %></a>
            </h1>
        </div>
        <div class="right fr">
            <div class="weather">
                <span class="city">城市天气</span><span class="type"></span>
            </div>
        </div>
    </div>

    <div id="sidebar" class="">
        <div class="item item-close">
            <p class="close-sidebar">x</p>
        </div>
        <div class="item <%= noteInfo.hasKey %>">
            <p class="item_li addKey">
                <span>加密笔记</span>
            </p>
            <p class="item_li removeKey">
                <span>移除密码</span>
            </p>
        </div>
        <div class="item <%= noteInfo.isShared %>">
            <p class="item_li shareNote">
                <span>分享笔记</span>
            </p>
            <p class="item_li noShareNote">
                <span>取消分享</span>
            </p>
        </div>

        <div class="copyright">
            <p>
                2015 · <a href="//doting.me/share/about" target="_blank">关于本站</a>
            </p>
            <p>
                <a href="http://hinpc.com" target="_blank">海风网</a>
                <a href="http://123.hinpc.com" target="_blank">海风导航</a>
                <a href="http://blog.hinpc.com" target="_blank">Gallen's Blog</a>
            </p>
            <div>
                <a href="https://nodejs.org/" class="imglink" target="_blank">
                    <img src="images/nodejs.jpg" alt="nodejs">
                </a>
                <a href="https://www.digitalocean.com/?refcode=ede28ec3d4aa" class="imglink">
                    <img src="images/digitalocean.png" alt="digitalocean">
                </a>
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="main">
        <div id="paper">
            <div class="info-bar">
                <span class="noteurl">http://<%= noteInfo.url %></span>
                <span class="nowtime"><%= noteInfo.time %></span>
            </div>
            <div class="tip-bar clearfix">
                <span class="fr" id="saveTip">已自动保存</span>
            </div>
            <div class="note-title">
                <div class="inpt-wrapper">
                    <input type="text" id="note-title" name="note-title" value="<%= noteInfo.title %>">
                    <input type="hidden" id="note-pwd" name="note-pwd" value="">
                    <label id="note-title-placeholder" for="note-title">标题<small>Title</small></label>
                </div>
            </div>
            <form id="paper-form" action="http://<%= noteInfo.url %>">
            <div class="note-content">
                <textarea name="notetext" id="notetext" spellcheck="true"><%= noteInfo.content %></textarea>
            </div>
            <div class="paper-footer">
                <div class="btn-group" id="btn-group">
                    <button type="reset" class="paper-btn clear fadeInUp">还原</button>
                    <button id="note-save" class="paper-btn save" data-status="ready">保存</button>
                </div>
            </div>
            </form>
        </div>
    </div>

<!-- other -->
<div id="notice" class="notice none animated">
    <p>提示栏</p>
</div>

<div id="dialog" class="none">
    <div class="top">
        <div class="ipt-wrap ipt-wrap-old none">
            <label for="ipt-oldPwd">原密码</label>
            <input type="password" maxlength="20" class="ipt-pwd" id="ipt-oldPwd">
        </div>
        <div class="ipt-wrap ipt-wrap-new">
            <label for="ipt-newPwd">密码</label>
            <input type="password" maxlength="20" class="ipt-pwd" id="ipt-newPwd">
        </div>
        <div class="ipt-wrap ipt-wrap-re">
            <label for="ipt-newPwd">重复密码</label>
            <input type="password" maxlength="20" class="ipt-pwd" id="ipt-renewPwd">
        </div>
    </div>
    <div class="btm">
        <a href="javascript:void(0);" class="keybtn cancel">取消</a>
        <a href="javascript:void(0);" class="keybtn saveit saveit_active" data-status="ready" data-func="n">确认</a>
    </div>
</div>
<div id="blackLayer" class="none"></div>

<div id="shareLink" style="display:none">
    <input type="text" value="<%= noteInfo.url.replace('/','/share/') %>" data-url="<%= noteInfo.url.replace('/','/share/') %>">
    <p class="tip">
        复制链接分享 <span class="btn-small" id="shareover">完成</span>
    </p>
</div>


<script src="https://dn-cndserver.qbox.me/jquery-1.11.3.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255116367'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255116367%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
