<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title><%= siteInfo.sitename %></title>
    <meta name="keywords" content="<%= siteInfo.keywords %>" />
    <meta name="description" content="<%= siteInfo.describe %>" />
    <link rel="shortcut icon" type="image/x-ico" href="https://dn-doting.qbox.me/favicon.ico" />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' href='/css/ie.css' />
    <script src="/js/ie.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <meta http-equiv="refresh" content="0; url=//hinpc.com/x/killie.html" />
    <![endif]-->
  </head>
<body>
    <!-- header -->
    <div id="header">
        <div class="left">
            <h1 class="logo">
                <a href="//<%= siteInfo.sitedomain %>" title="<%= siteInfo.describe %>"><%= siteInfo.title %></a>
            </h1>
            <span class="more">更多</span>
        </div>
        <div class="right fr">
            <div class="weather">
                <span class="city">城市天气</span><span class="type"></span>
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="main">
        <div id="paper">
            <div class="info-bar">
                <span>http://<%= noteInfo.url %></span>
                <span class="nowtime"><%= noteInfo.time %></span>
            </div>
            <div class="tip-bar clearfix">
                <span class="fr" id="saveTip">已自动保存</span>
            </div>
            <div class="note-title">
                <div class="inpt-wrapper">
                    <input type="text" id="note-title" name="note-title" value="<%= noteInfo.title %>">
                    <input type="hidden" id="note-pwd" name="note-pwd" value="">
                    <label id="note-title-placeholder" for="note-title">标题<small>Title</small></label>
                </div>
            </div>
            <form id="paper-form" action="http://<%= noteInfo.url %>">
            <div class="note-content">
                <textarea name="notetext" id="notetext" spellcheck="true"><%= noteInfo.content %></textarea>
            </div>
            <div class="paper-footer">
                <div class="btn-group">
                    <button type="reset" class="paper-btn clear fadeInUp">还原</button>
                    <button id="note-save" class="paper-btn save" data-status="ready">保存</button>
                </div>
            </div>
            </form>
        </div>
    </div>


<script src="https://dn-cndserver.qbox.me/jquery-1.11.3.min.js"></script>
<script src="/js/app.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255116367'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255116367%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
