<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title><%= siteInfo.sitename %></title>
    <meta name="keywords" content="<%= siteInfo.keywords %>" />
    <meta name="description" content="<%= siteInfo.describe %>" />
    <link rel="shortcut icon" type="image/x-ico" href="https://dn-doting.qbox.me/favicon.ico" />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <!--[if lt IE 8]>
    <link rel='stylesheet' href='/css/ie.css' />
    <![endif]-->
  </head>
<body>
    <h1>密码验证页</h1>



</body>
</html>
