<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024" />
    <title><%= siteInfo.sitename %></title>
    <meta name="keywords" content="<%= siteInfo.keywords %>" />
    <meta name="description" content="<%= siteInfo.describe %>" />
    <link rel="shortcut icon" type="image/x-ico" href="https://dn-doting.qbox.me/favicon.ico" />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/noteauth.css' />
    <!--[if lt IE 8]>
    <link rel='stylesheet' href='/css/ie.css' />
    <![endif]-->
  </head>
<body>
    <div id="noteauth">
        <div class="main">
            <div class="ipt-wrapper">
                <div class="title">
                    <h1>密码验证</h1>
                </div>
                <!--<%=siteInfo.noteurl%>-->
                <form action="" id="note_form" method="post">
                <div class="input">
                    <input type="password" id="note_pwd" name="note_pwd">
                </div>
                <div class="ui-btn">
                    <input type="submit" value="OK" id="note-sub" name="note-sub">
                </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
